body{
overflow-x: hidden;
}


.profile{
  background: url(./component/Image/img4.jpg);
  width: 100%;
}
.gologin{
  background: url(./component/Image/img4.jpg);
  background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    display: inline-block;
    height: 800px;
   
}

.rhome-card-img{
  height: 250px !important;
}

.login{
    text-align: center;
    justify-content: center;
    display: flex; 
    margin-top: 150px;
    padding-top: 90px;
    padding-bottom: 90px;
   
    margin-left: auto;
    margin-right: auto;
  
    width: 400px;
    height: 500px;
  
    box-shadow: 11px 12px 13px 12px rgb(98, 217, 238);
    
    border-radius: 50px; 
    background-color: rgb(199, 213, 213);
}

.form-label {
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  
}

.carousel-item img{
  max-height: 80vh;
}

a{
  text-decoration: none;
}

.btn{
  background-image: linear-gradient(to right bottom, #080537, #003163, #005c89, #0088a7, #25b5bd);
  color: #f2f2f2 !important;
  text-decoration: none !important;
}

.room-card-img{
  height: 150px;
}
